.hh-card {
    text-align: center;
    background-color: transparent;
    //display: flex;
    //align-items: center;
    //color: #fff;
    width: 33.33%;
    //margin: 10px;
  
    /*&__container {
      //@include container;
    }*/
  
    &__image {
      //@include type-heading-1;
      width: 60%;
      height: 250px;
      //background-size: cover;
      margin: auto;
    }
  
    &__title{
      color: #D3D3D3;
      margin: 1rem;
      font-size: 18px;
      font-weight: bold;
      background-color: transparent;
      margin-bottom: 70px;
    }
  }
  