.hh-card {
    text-align: center;
    background-color: transparent;
    width: 33.33%;
  
    &__image {
      width: 60%;
      height: 250px;
      border-radius: 5%;
      margin: auto;
    }
  
    &__title{
      color: #D3D3D3;
      margin: 1rem;
      font-size: 20px;
      background-color: transparent;
      margin-bottom: 70px;
    }
  }
  