
// Colors
//$apple-green: #a4c014;
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Oswald');

$white: #fff;
$dark-red: rgb(117, 32, 52);

// Fonts
$font-family: 'EB Garamond', serif;
$font-Oswald: 'Oswald', sans-serif;