@import url('https://fonts.googleapis.com/css?family=Parisienne');

.hh-alcoholic_banner {
    background-image: url('./../images/alcoholic_bottles.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
  }
  