.hh-banner {
    background-image: url('./../images/cocktails_banner.jpg');
    height: 710px;
    display: flex;
    align-items: center;
    color: #fff;
    background-size: cover;
    background-position: center;
  
    /*&__container {
      //@include container;
    }*/
  
    &__title {
      //@include type-heading-1;
  
      margin: 3rem;
    }
  
    &__description {
      margin: 3rem;
    }
  }
  