.hh-home_card {
    background-color: $dark-red;
    color: $white;
    display: flex;
    align-items: center;
    text-align: center;
    height: 500px;
    //padding: 10px;
    
    &__image {
        height: 100%;
        
        &--left {
            width: 60%;
        }
        
        &--right {
            width: 40%;
            //padding: 0 7rem;
        }
    }
    
    &__content {
        width: 40%;
        padding: 0 3.5rem;
        
        &--left {
            width: 60%;
            padding: 0 3rem;
        }
    }
    
    &__title {
       // @include type-heading-2();
        font-size: 30px;
        display: block;
    }
    
    &__description {
        margin: 3rem;
    }
}